/* dark mode */
:root .lightMode {
  --color-primary: #e3b748;
  --color-dark: #fff;
  --color-light: #121212;
  --color-opacity: rgba(0, 0, 0, 0.2);
  --color-dark1: #d6d6d6;
  --color-secondChild: #e1e1e1;
}

/*  */

/* light mode */
:root {
  --color-primary: #e3b748;
  --color-dark: #121212;
  --color-light: #fff;
  --color-opacity: rgba(255, 255, 255, 0.2);
  --color-dark1: #1d1d1d;
  --color-secondChild: #2e2e2e;
}

/*  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: var(--color-dark);
  color: var(--color-light);
  overflow-x: hidden;
}
